<app-nav-log></app-nav-log>
<div class="body">
  <br><br>
  <div class="row">
    <div class="col-sm-3" *ngFor="let menu of menus">
      <div class="card">
        <div class="card-body" style="text-align: center ">
          <img src="{{menu.photoUrl}}" style="height:8cm; width:8cm;">
          <h3 class="card-title"style="text-align:left " >Name : {{ menu.itemname}}</h3>
          <h3 class="card-title"style="text-align:left ">Price:Rs {{menu.itemprice}}</h3>
          <p class="card-text"></p>
           <div class="row">
            <div class="col-sm-6">
              <button type="button" class="btn btn-dark" (click)="removeitem(menu._id)">Remove</button>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-dark" (click)="edititem(menu)">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>
