<app-cus-nav></app-cus-nav>
<br><br>

<div class="row">
  <div class="col-sm-4" *ngFor="let table of tables">
    <div class="card">
      <div class="card-body" style="text-align: center ">
        <h3 class="card-title"style="text-align:left " >Table NO : {{ table.tableno}}</h3>
        <h3 class="card-title"style="text-align:left ">Table Size {{table.tablesize}}</h3>
        <h3 class="card-title"style="text-align:left ">Description{{ table. description}}</h3>
        <p class="card-text"></p>
         <div class="row">
          <div class="col-sm-3">
            <button type="button" class="btn btn-dark" (click)="cartAdd(menu.itemname,menu.itemprice,noOfitems)">Booking</button>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</div>
